/* COLORS:
BLUE:
Main: 57d7fa
Darker Main: #2fc5ee
GREY:
Light: #d7d8d9
Medium: #7a8691
Dark: #323238
Darkest: #222226
*/

/* NAV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list-wrap {
    height: 6rem;
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: #fff;
}

#nav li {
    align-items: center;
    justify-content: center;
}

#nav li #logo {
    display: block;
}

#logo {
    display: none;
}

#mobile-logo {
    max-width: 5.5rem;
    position: absolute;
    top: 0;
    z-index: 111;
    left: calc(50% - 2.75rem);
    background-color: #fff;
    padding-top: 0.25rem;
}

#logo img {
    max-width: 6rem;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    border: none;
    font-size: 2.5rem;
    background: white;
    cursor: pointer;
  }
  
  .closeIcon {
    display: none;
  }
  
  .menu {
    transform: translateY(-100%);
    transition: transform 0.2s;
    z-index: 99;
    background: #fff;
    color: #323238;
    list-style: none;
    padding-top: 6.5rem;
    
  }
  
  .showMenu {
    transform: translateY(0);
  }

/* HERO
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#hero {
    padding: 2rem 0rem 13rem 0rem;
    background-image: url(../images/hero.png);
    background-size:fill;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 60%;
    color: #fff;
}

#hero .button {
    background-color: #fff;
    color: #323238;
}

#hero-text h4 {
    margin-bottom: 0;
}

#fast-links {
    padding: 0;
}

#commissions {
    background-color: #2fc5ee;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
}

/* ABOUT
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#about img {
    display: block;
    max-width: 100%;
}

#about span {
    display: block;
    text-align: left;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#footer {
    padding: 2rem;
    font-size: 1.3rem;
    bottom:0;
    left:0;
    background-color: #323238;
    color: #7a8691
}

#footer h5 {
    display: flex;
    margin: 0;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#footer h6 {
    margin-bottom: 0rem;
    text-align: left;
    font-weight:900;
}

#footer a {
    color: #d7d8d9;
}

#footer i {
    padding-right: 3rem;
    font-size: 1.5rem;
}

.footer-link a {
    margin-left: 4.5rem;
    margin-bottom: 1rem;
    display: flex;
}

#shoutout {
    text-align: left;
}

#shoutout h6 {
    padding: 0;
}

#copyright {
    padding: 1rem;
    background-color: #222226;
    color:#7a8691;
    text-align: center;
    font-size: 1.2rem;
}

/* ------------- MISC */

.portfolio-item {
    display: block;
}

.bullet-points ul li {
    list-style: circle;
}

#socials {
    font-size: 5rem;
}

#socials i {
    padding: 1rem;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
    .list-wrap {
        height: 8rem;
    }

    .menu-header {
        cursor: pointer;
        display: none;
    }

    #nav ul {
        align-items: center;
        transform: translateY(0);
    }
    
    .list-wrap {
        display: flex;
        max-height: 100%;
    }

    #logo {
        display: flex;
    }

    #logo img {
        max-width: 6rem;
        display: flex;
    }

    #mobile-logo {
        display: none;
    }

    .hamburger {
        display: none;
    }
      
    .closeIcon {
        display: none;
    }
    
    .menu {
    transform: translateY(100%);
    transition: transform 0.2s;
    z-index: 99;
    background: #fff;
    color: #323238;
    list-style: none;
    padding: 0rem;        
    }

    #hero {
        padding: 2rem 10rem 13rem 10rem;
    }

    .bullets ul li {
        margin-left: 1.5rem;
    }
}

/* Larger than phablet */
@media (min-width: 900px) {
    #nav li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #fast-links {
        padding: 2rem;
    }
}

/* Larger than tablet */
@media (min-width: 1200px) {}